@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  background-image: linear-gradient(to right, #37084D, #0D042A) ;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


